  :root
  {
      --primary-color: rgb(10, 65, 77);
      --secondary-color: rgb(44, 44, 43, 0.25);
      --link_and_img-color: rgb(241, 110, 87);
      --color-h1: rgba(255, 255, 255);
      --backdrop-color: rgba(0, 0, 0, 0.5);
      --button-arrow-and-close: rgba(255, 255, 255);
  }


  @font-face
  {
      font-family: 'Linotte';
      src: url(./fonts/Linotte\ Bold.otf);
      src: url(./fonts/Linotte\ Heavy.otf);
      src: url(./fonts/Linotte\ Light.otf);
      src: url(./fonts/Linotte\ Regular.otf);
      src: url(./fonts/Linotte\ Semi\ Bold.otf);
  }


  html
  {
      scroll-behavior: smooth;
      margin: 0;
  }


  body
  {
      margin: 0;
      background-size: cover;
      background-position: center;
      background: var(--primary-color);
  }


  .header
  {
      padding-left: 24px;
      background: var(--secondary-color);
      height: 96px;
      box-shadow: 0px 0px 20px 1px var(--link_and_img-color);
  }


  .img_fotogram_logo
  {
      display: flex;
      width: 400px;
  }


  .img_fotogram_impressum
  {
      display: flex;
      width: 400px;
      cursor: pointer;
  }


  nav
  {
      display: flex;
      justify-content: space-between;
      padding-right: 24px;
  }


  ul
  {
      display: flex;
      width: 350px;
      height: 96px;
      justify-content: space-around;
      align-items: center;
      margin-block-start: 0em;
      margin-block-end: 0em;
      color: var(--button-arrow-and-close);
      font-family: 'Linotte';
      font-size: 24px;
      list-style-type: none;
      padding: 0;

  }


  .link
  {
      text-decoration: none;
      color: white;
  }


  .link:hover
  {
      color: var(--link_and_img-color);
      box-shadow: 3px 3px 5px 0px var(--link_and_img-color);
      border-radius: 5px;
  }


  h1
  {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      color: var(--color-h1);
      font-family: 'Linotte';
      font-size: 52px;
      margin-bottom: 0;
  }


  main
  {
      display: flex;
      height: 100vh;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }


  .all_holidayImages
  {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding-left: 24px;
      padding-right: 24px;
      object-fit: cover;
  }


  .thumbnails
  {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 16px;
      box-shadow: 5px 5px 8px 0px var(--link_and_img-color);
      cursor: pointer;

  }

  .thumbnails:hover
  {
      transform: scale(1.3);
  }


  dialog
  {
      border-radius: 16px;
      border: 0px;
      box-shadow: 5px 5px 8px 0px var(--link_and_img-color);
      background-color: var(--primary-color);
      padding: 0;
      overflow: hidden;
  }


  dialog.opend::backdrop
  {

      background-color: var(--backdrop-color);
      padding: 0;
  }


  .dialog_Header
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-h1);
      font-family: 'Linotte';
      cursor: pointer;
      padding-left: 20px;
      padding-right: 20px;
  }


  h2
  {
      padding: 25px;
      margin-block-start: 0em;
      margin-block-end: 0em;
      font-size: 30px;
  }




  .close_button
  {
      display: flex;
      padding-left: 15px;
      padding-top: 3px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      box-shadow: 0px 0px 3px 3px var(--link_and_img-color);
      background-color: var(--primary-color);
      color: var(--button-arrow-and-close);
      font-family: 'Linotte';
      font-size: 29px;
      cursor: pointer;
  }


  .lagre_img
  {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1280px;
      height: 768;
      border-radius: 16px;
      overflow: hidden;
      cursor: pointer;
      flex-grow: 1;
      object-fit: cover;
      aspect-ratio: 2;

  }


  .arrow_Container
  {
      padding: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
  }


  .arrow_button
  {
      width: 50px;
      height: 50px;
      background-color: var(--primary-color);
      border-radius: 180px;
      box-shadow: 0px 0px 3px 3px var(--link_and_img-color);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--button-arrow-and-close);
      font-family: 'Linotte';
      font-size: 30px;
      cursor: pointer;
      position: relative;
  }


  .ul_impressum
  {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 30px;
      font-size: 24px;
  }


  .ul_footer
  {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      background: var(--secondary-color);
      box-shadow: 0px 0px 20px 1px var(--link_and_img-color);
      height: 184px;
  }


  @media(max-width: 1280px)
  {
      .lagre_img
      {
          width: 80vw;
          height: 65vh;
      }


      h2
      {
          padding: 22px;
          margin-block-start: 0em;
          margin-block-end: 0em
      }

  }


  @media(max-width: 1024px)
  {

      .lagre_img
      {
          width: 80vw;
          height: 65vh;
      }


      .img_fotogram_impressum
      {
          padding-top: 20px;
          display: flex;
          width: 300px;
      }


      h2
      {
          padding: 20px;
          margin-block-start: 0em;
          margin-block-end: 0em
      }


  }




  @media(max-width: 767px)
  {

      .img_fotogram_logo
      {
          display: flex;
          width: 200px;
      }


      .img_fotogram_impressum
      {
          display: flex;
          width: 200px;
      }


      .header
      {
          padding-left: 14px;
      }


      nav
      {
          display: flex;
          justify-content: space-between;
          padding-right: 14px;
      }


      .all_holidayImages
      {
          gap: 16px;
          padding-left: 24px;
          padding-right: 24px;
      }


      .thumbnails
      {
          width: 120px;
          height: 120px;
      }


      ul
      {
          font-size: 18px;
      }


      h1
      {
          font-size: 39px;
      }


      .lagre_img
      {
          width: 80vw;
          height: 65vh;
      }


      h2
      {
          margin-block-start: 0em;
          margin-block-end: 0em;
          font-size: 22px;
      }


      .ul_impressum
      {
          font-size: 20px;
      }


      .ul_footer
      {
          height: 164px;
      }


      .arrow_Container
      {
          padding: 30px;

      }


      .arrow_button
      {
          width: 40px;
          height: 40px;
      }

  }


  @media(max-width: 550px)
  {
      .img_fotogram_logo
      {
          display: flex;
          width: 200px;
      }


      .img_fotogram_impressum
      {
          width: 200px;
      }


      nav
      {
          padding-right: 8px;
          gap: 20px;
      }


      .header
      {
          padding-left: 10px;
      }


      h2
      {
          padding: 19px;
          margin-block-start: 0em;
          margin-block-end: 0em;
          font-size: 20px;
      }


      .all_holidayImages
      {
          gap: 12px;
      }


      .thumbnails
      {
          width: 100px;
          height: 100px;
      }


      ul
      {
          font-size: 18px;
      }


      h1
      {
          font-size: 28px;
      }


      .dialog_Header
      {
          font-size: 18px;
      }


      .close_button
      {
          padding-left: 11px;
          width: 40px;
          height: 40px;
          border-radius: 180px;
          font-size: 24px;
      }


      .lagre_img
      {
          width: 80vw;
          height: 60vh;
      }


      .ul_footer
      {
          height: 144px;
      }


      .arrow_Container
      {
          padding: 30px;
      }


      .arrow_button
      {
          width: 30px;
          height: 30px;
          background-color: var(--primary-color);
          border-radius: 180px;
          box-shadow: 0px 0px 3px 3px var(--link_and_img-color);
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--button-arrow-and-close);
          font-family: 'Linotte';
          font-size: 20px;
          cursor: pointer;
          position: relative;
      }


      @media(max-width: 430px)
      {

          .img_fotogram_logo
          {
              display: flex;
              width: 150px;
          }


          .img_fotogram_impressum
          {
              padding-top: 30px;
              width: 200px;
          }


          .close_button
          {
              padding-left: 9px;
              width: 30px;
              height: 30px;
              border-radius: 180px;
              font-size: 16px;
          }


          nav
          {
              padding-right: 5px;
          }


          .all_holidayImages
          {
              gap: 10px;
          }


          .thumbnails
          {
              width: 60px;
              height: 60px;
          }


          ul
          {
              font-size: 18px;
          }


          h1
          {
              margin-top: 24px;
              font-size: 22px;
          }


          .dialog_Header
          {
              font-size: 15px;
              padding-left: 10px;
              padding-right: 10px;
          }


          h2
          {
              padding: 12px;
              margin-block-start: 0em;
              margin-block-end: 0em
          }


          .lagre_img
          {
              width: 80vw;
              height: 65vh;
          }


          .ul_footer
          {
              height: 124px;
          }


          .arrow_Container
          {
              padding: 12px;
          }

      }


      @media(max-width: 320px)
      {
          .lagre_img
          {
              width: 280px;
              height: 56vh;
          }


      }