:root {

    --primary-color: rgb(10, 65, 77);
    --secondary-color: rgb(44, 44, 43, 0.25);
    --link_and_img-color: rgb(241, 110, 87);
}

@font-face {
    font-family: 'Linotte';
    src: url(./fonts/Linotte\ Bold.otf);
    src: url(./fonts/Linotte\ Heavy.otf);
    src: url(./fonts/Linotte\ Light.otf);
    src: url(./fonts/Linotte\ Regular.otf);
    src: url(./fonts/Linotte\ Semi\ Bold.otf);
}


html {

    scroll-behavior: smooth;
    margin: 0;
}


body {

    margin: 0;
    background-size: cover;
    background-position: center;
    background: var(--primary-color);

}


header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    background: var(--secondary-color);
    height: 96px;
    box-shadow: 0px 0px 20px 1px var(--link_and_img-color);
}


.img_fotogram-logo_haeder {

    display: flex;
    width: 400px;
}


nav {

    display: flex;
    padding-right: 24px;
}


ul {
    display: flex;
    width: 350px;
    height: 96px;
    justify-content: space-around;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
    font-family: 'Linotte';
    font-size: 22px;
    list-style-type: none;
    padding: 0;

}


a {
    text-decoration: none;
    color: white;
}


a:hover {

    color: var(--link_and_img-color);
    box-shadow: 3px 3px 5px 0px var(--link_and_img-color);
    border-radius: 5px;

}

h1{

    display: flex;
    justify-content: center;
    
}


main {

    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}


.all_images {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
    object-fit: cover;

}


.main_images {

    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 5px 5px 8px 0px var(--link_and_img-color);

}



.ul_footer {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: var(--secondary-color);
    box-shadow: 0px 0px 20px 1px var(--link_and_img-color);
    height: 184px;

}

.ul_footer:hover {}