  :root {
      --primary-color: rgb(10, 65, 77);
      --secondary-color: rgb(44, 44, 43, 0.25);
      --link_and_img-color: rgb(241, 110, 87);
      --color-h1: rgba(255, 255, 255);
      --backdrop-color: rgba(0, 0, 0, 0.5);
      --button-arrow-and-close: rgba(255, 255, 255);
      --link-impressum-color: rgba(128, 128, 128);
  }

  @font-face {
      font-family: 'Linotte';
      src: url(../fonts/Linotte-Bold.woff2 ) format('.woff2');
      src: url(../fonts/Linotte-Heavy.woff2) format('.woff2');
      src: url(../fonts/Linotte-Light.woff2) format('.woff2');
      src: url(../fonts/Linotte-Regular.woff2) format('.woff2');
      src: url(../fonts/Linotte-SemiBold.woff2) format('.woff2');
  }

  html {
      box-sizing: border-box;
      scroll-behavior: smooth;
      margin: 0;
  }

  body {

      display: flex;
      flex-direction: column;
      align-items: center;
      background-size: cover;
      background-position: center;
      background: var(--primary-color);
      margin: 0;
  }

  .header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--secondary-color);
      height: 96px;
      box-shadow: 0px 0px 20px 1px var(--link_and_img-color);

  }

  .img_fotogram_logo {
      display: flex;
      width: 400px;
  }

  nav {
      max-width: 1920px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-left: 16px;
  }

  ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 5px;
      margin-block-start: 0em;
      margin-block-end: 0em;
      color: var(--button-arrow-and-close);
      font-family: 'Linotte';
      font-size: 24px;
      list-style-type: none;
      padding: 0;
      gap: 64px;
      margin-right: 16px;
  }

  .link {
      text-decoration: none;
      color: var(--link-impressum-color);
  }

  .link:hover {
      color: var(--link_and_img-color);
      box-shadow: 3px 3px 5px 0px var(--link_and_img-color);
      border-radius: 5px;
  }

  h1 {
      display: flex;
      justify-content: center;
      color: var(--color-h1);
      font-family: 'Linotte';
      font-size: 52px;
      margin-bottom: 50px;
      margin-block-start: 0em;
      margin-block-end: 0em;
      box-sizing: border-box;
  }

  main {
      width: 100%;
      display: flex;
      justify-content: center;

  }

  .main_container {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 1920px;
      min-height: calc(100vh - 241px);
      gap: 64px;
  }

  .all_holidayImages {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 16px;
      box-sizing: border-box;
      margin-left: 32px;
      margin-right: 32px;

  }

  .thumbnails {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 16px;
      box-shadow: 5px 5px 8px 0px var(--link_and_img-color);
      cursor: pointer;
  }

  .thumbnails:hover {
      transform: scale(1.3);
  }

  .thumbnails_WCAG {
      border-radius: 16px;
  }

  h2 {
      padding: 25px;
      margin-block-start: 0em;
      margin-block-end: 0em;
      font-size: 30px;
  }

  .footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--secondary-color);
      box-shadow: 0px 0px 20px 1px var(--link_and_img-color);
      height: 145px;
      row-gap: 1px;
  }

  .ul_footer {
      max-width: 1920px;
      width: 100%;
      max-height: 145px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
  }
 

  @media(max-width: 1280px) {
      .thumbnails {
          width: 110px;
          height: 110px;
      }


      h2 {
          padding: 22px;
          margin-block-start: 0em;
          margin-block-end: 0em
      }

      h1 {
          font-size: 38px;

      }
  }

  @media(max-width: 1024px) {

      .thumbnails {
          width: 105px;
          height: 105px;
      }



      h2 {
          padding: 20px;
          font-size: 22px;
      }

  }

  @media(max-width: 900px) {

      .thumbnails {
          width: 85px;
          height: 85px;
      }

      h2 {
          padding: 20px;
          font-size: 22px;
      }

      td {
          font-family: 'Linotte';
          font-size: 26px;
          margin-bottom: 50px;
          margin-block-start: 0em;
          margin-block-end: 0em;
      }

  }

  @media(max-width: 767px) {

      .img_fotogram_logo {
          margin-top: 0px;
          width: 300px;
      }

      .img_fotogram_impressum {
          margin-top: 0px;
          width: 300px;
      }

      header {
          box-sizing: border-box;

      }

      nav {
          display: flex;
          justify-content: space-between;
          margin-right: 12px;
          margin-right: 12px;
          box-sizing: border-box;

      }

      td {
          font-family: 'Linotte';
          font-size: 22px;
      }

      .all_holidayImages {
          max-width: 767px;
          gap: 16px;
          padding-left: 0px;
          padding-right: 0px;
          margin-bottom: 64px;
      }

      .thumbnails {

          width: 65px;
          height: 65px;

      }

      ul {

          font-size: 16px;
          padding-top: 48px;
          margin-right: 12px;
      }

      li {

         
          margin-left: 16px;
      }

      h1 {
          margin-top: 34px;
      }

      h2 {

          margin-block-start: 0em;
          margin-block-end: 0em;
          font-size: 22px;
      }

      .ul_impressum {

          font-size: 20px;
      }

      .link_quelle {

          font-size: 16px;
      }

  }

  @media(max-width: 630px) {
      td {

          font-family: 'Linotte';
          font-size: 20px;
      }
  }

  @media(max-width: 558px) {
      .img_fotogram_logo {
          margin-bottom: 0px;
          width: 200px;
      }

      .img_fotogram_impressum {
          margin-bottom: 0px;
          width: 200px;
      }

       h1 {
          margin-top: 32px;
          font-size: 30px;
      }

      h2 {

          padding: 19px;
          font-size: 20px;
      }

      td {

          font-family: 'Linotte';
          font-size: 18px;
      }

      .all_holidayImages {

          padding-left: 18px;
          padding-right: 18px;
      }

      .thumbnails {

          width: 75px;
          height: 75px;
      }

      ul {

          font-size: 16px;
          gap: 16px;
      }
  }

 
  @media(max-width: 500px) {

      .thumbnails {

          width: 65px;
          height: 65px;
      }

      h1 {

          font-size: 26px;
      }
  }

  @media(max-width: 500px) {

      .thumbnails {

          width: 65px;
          height: 65px;
      }
  }

  @media(max-width: 430px) {

      .img_fotogram_logo {

          width: 150px;
      }

      .img_fotogram_impressum {

          padding-top: 30px;
          width: 200px;
      }

      .all_holidayImages {

          gap: 10px;
      }

      .thumbnails {

          width: 60px;
          height: 60px;
      }

      ul {

          font-size: 16px;
      }

      h1 {

          font-size: 22px;
      }

      h2 {
        
          padding: 12px;
          margin-block-start: 0em;
          margin-block-end: 0em
      }
  }